$page-width: 900px;
$header-height: 100px;


* {
    margin: 0 auto;
    padding: 0;
}

.main-header {
    top: 0;
    left: 0;
    right: 0;
    width: $page-width;

    

    .header {
        height: 100px;
        border: 1px lightgray solid;
    }

    h1 {
        text-align: center;
        line-height: 100px;
    }

}

.main-body {
    width: $page-width;
    margin: 0 auto;

    .board {
        border: 1px solid lightgray;
        display: hidden;
        height: 300px;
        margin-bottom: 10px;
    }
}


.main-footer {
    width: $page-width;
}



.bar {
    text-align: right;
}

.myButton {
    border: 1px solid lightgray;
    border-radius: 0px;
    background-color: white;
    margin: 4px;
    margin-right: 0px;
    height: 30px;
    width: 140px;
}
.myButton:hover {
    background-color: lightgray;
}
